<li>
	{{burger_name}}

	<button class="change-devoured btn btn-outline-light btn-sm" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Devour It{{else}}Bring Me Another {{/if}}
	</button>
</li>
